#contact{
    background: #0a0f14 linear-gradient(135deg,#192328,#0a0f14);
}
.contact-box{
    overflow: hidden;
    border: 1px rgba(6, 182 ,212 ,0.6) solid ;
    transition: color .2s;
    
}

.contact-box >li{
    font-weight: 600;
    transition:.2s ;
}
.contact-box >li:hover{
    color: black;
    transition: color .2s;
    background-color:rgb(6, 182 ,212) ;
}

li:hover .icon-hover-moveup{
    transition:.2s ;
    transform: translatey(-6px);
}

.tranform-icon > i{
    transition: .2s;
}
.tranform-icon:hover > i{
    transition: .2s;
    transform: translatey(-6px);

}
.tranform-icon:hover >span{
    	visibility: visible;
}
