#project {
  /* height: 2000px; */
  background: #0a0f14 linear-gradient(135deg,#192328,#0a0f14);
}
.project-name{
  text-shadow: 0 0 6px #22d3ee ;
  /* font-size: 2vw; */
}
figure>img{
  transition: .4s;
}
figure:hover>img{
  filter: blur(8px);
  transition: .4s;
  -webkit-filter: blur(8px);
}
figure:hover>figcaption{
  opacity: 1;
  transform: scale(1);
}
figcaption{
  opacity: 0;
  transform: scale(0.9);
  transition: .4s ease;
  transform-origin: bottom;
}