#about{
    background: #0a0f14 linear-gradient(135deg,#192328,#0a0f14);

}

.avatar >img{
        box-shadow: 0 0 8px teal;
}
.about-me-title{
    position: relative;
    transition: color .15s;
}
.about-me-title .span-after{
    display: none;
    line-height: 1px;
}
.about-me-title:hover{
    color: #88cdaa;
    filter: drop-shadow(0 0 3px teal);
    transition: color .15s;
}
.about-me-title:hover .span-after{
    display: inline;
}


/* .about-me-title::before{
    content: '#';
    position: absolute;
    color: transparent;
    right: -1em;
    transition: color .15s;
}
.about-me-title:hover::before{
    color: #3c83a4;
    transition: color .15s;
} */
.about-me-p{
    margin: 1.2rem 0;
}

/* .interest-list{
     font-variation-settings: 'wght' 700;
} */